<a href="https://colab.research.google.com/github/rudrapatel1308/beginning-bioinformatics/blob/main/Bioinformatics_Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Rudra Maheshbhai Patel

P-6

In [24]:
# Task P6.1
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Rudra
Hello Rudra

In [25]:
# Task P6.2
a = int(input("Enter the first number (a): "))
b = int(input("Enter the second number (b): "))
c_squared = a**2 + b**2
print("The square of the hypotenuse is:", c_squared)

Enter the first number (a): 810
Enter the second number (b): 991
The square of the hypotenuse is: 1638181

P-7

In [26]:
# Task P7.1
my_list = ["Rudra", "Shlok", "Shilp"]

# Print the second element (index 1 â†’ because indexing starts at 0)
print(my_list[1])   # Output: World

Shlok

In [27]:
# Task P7.2
my_list[2] = "Alfred R. Wallace"  # Replacing "Charles Darwin" at index 2
print(my_list)  # ['Hello', 'World', 'Alfred R. Wallace']

['Rudra', 'Shlok', 'Alfred R. Wallace']

In [28]:
# Task P7.3
my_list.append("Charles Darwin")  # Add item back at the end of the list
print(my_list)  # ['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

['Rudra', 'Shlok', 'Alfred R. Wallace', 'Charles Darwin']

In [29]:
# Task P7.4
my_list.insert(1, "Inserted Item")  # Insert at index 1
print(my_list)

['Rudra', 'Inserted Item', 'Shlok', 'Alfred R. Wallace', 'Charles Darwin']

P-8

In [30]:
# Task P8.1
my_list = ['Rudra', 'Inserted Item', 'Inserted Item', 'Shlok', 'Alfred R. Wallace', 'Charles Darwin']

# Slice World and Alfred R. Wallace
print(my_list[2:4])   # ['World', 'Alfred R. Wallace']

['Inserted Item', 'Shlok']

In [31]:
# Task P8.2
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"

# Slice Wallace
wallace = my_string[33:]       # from index 33 to end
world   = my_string[5:10]      # World is between index 5 and 9
print(wallace, world)          # Wallace World

Wallace World

In [32]:
# Task P8.3 Rosalind #2
s = input("Enter the string: ")
a, b, c, d = map(int, input("Enter four integers separated by spaces: ").split())

print(s[a:b+1], s[c:d+1])

Enter the string: icU83U2xQpwkpGNqCPplVHnVr2Xj9MwD05ha4q2gwqZkQeASBzEyTtb5b70P3cdAJFtuqKDWRImKITringa6odPHrfz60voUz5Jy50JKXPgarullusnLuiudxEylZocvJtcKFxDJv9adKQU0UlVBHPd9W7bBOwe43mKiy.
Enter four integers separated by spaces: 77 82 106 113
Tringa garullus

All the changes are commited to the Github!

P-9

In [33]:
# Task P9.1
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

if a == b:
    result = a + b   # add if they are the same
else:
    result = a - b   # subtract if they are different

print("Result:", result)

Enter the first number: 5
Enter the second number: 9
Result: -4

P-10

In [34]:
# Task P10.1
a = 1   # counter starts at 1

while a <= 3:   # loop continues while a is less than or equal to 3
    print("Counting!")
    a += 1      # increase counter by 1 each time

Counting!
Counting!
Counting!

P-11

In [35]:
# Task P11.1
names = ["Alice", "Bob", "Charlie", "Diana"]  # Line 1: list of names

for name in names:   # Line 3: for loop
    print("Hello", name)   # Line 4: runs each time

Hello Alice
Hello Bob
Hello Charlie
Hello Diana

P-12

In [36]:
# Task P12.1
iterations = 10   # Line 2

for number in range(iterations):   # Line 5
    print(number)   # Line 6

0
1
2
3
4
5
6
7
8
9

In [37]:
# Task P12.2
for number in range(9, 28, 3):   # start=9, stop=28 (since stop is exclusive), step=3
    print(number)

9
12
15
18
21
24
27

In [39]:
# Task P12.3
a, b = map(int, input().split())
print(sum(n for n in range(a, b+1) if n % 2 == 1))

4455 9267
16514427

All changes committed to github!